.navbar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px 5px 0px;
  background: var(--primary-color);
  color: #fff;
}

.navbar__item {
  margin-left: 1em;
}

.navbar__item a {
  color: #fff;
  text-decoration: none;
}

.navbar__links {
  list-style: none;
  display: flex;
}

.navbar__item {
  margin-left: 1em;
}

.navbar__item a {
  color: #fff;
  text-decoration: none;
}